body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
//  background-color: #eee;
//  background-color: rgba(86,61,124,.15);
//  border: 1px solid #ddd;
//  border: 1px solid rgba(86,61,124,.2);
}

table.picture-frame {
  width: auto;
  table-layout:fixed;
}

.picture-frame tr {
  width: 1em;
}

.picture-frame td {
  overflow: hidden;
  white-space: nowrap;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  transform: scale(1.08);
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
